@font-face {
  font-family: "Roboto";
  src:
    url("Roboto-Regular.woff2") format("woff2"),
    url("Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-blue: #1892d3;
  --background-gray: #e1e8f0;
  --card-yellow: #e2b231;
  --base-font-size: clamp(.5rem, 1vw, 1.5rem);
  --icon-size: clamp(10px, 2vw, 30px);
  --profile-size: calc(var(--icon-size) * 1.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
}

nav {
  grid-row: 1 / -1;
  background-color: var(--background-blue);
  color: white;
  font-weight: bold;
}

nav ul {
  display: grid;
  gap: 1em;
  margin: 1em;
  font-size: clamp(.5rem, 1.5vw, 1.5rem);
  font-size: var(--base-font-size);
}

nav li {
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  gap: 1em;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: .5em;
  align-items: center;
  font-size: calc(var(--base-font-size) * 1.5);
  margin: 1ch;
  margin-bottom: 2em;
}

nav li:nth-child(7) {
  margin-bottom: 2em;
}

nav a {
  color: white;
  text-decoration: none;
}

header {
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  font-size: calc(var(--base-font-size) * 1.5);
  font-weight: bold;
  padding: .5em 1.5em;
  box-shadow: 0 4px 8px -4px gray;
  position: relative
}

.search {
  display: grid;
  grid-template-columns: var(--icon-size) auto;
  gap: 10px;
  align-items: center;
}

input {
  background-color: var(--background-gray);
  border: none;
  font-size: var(--base-font-size);
  height: 30%;
  border-radius: 2rem;
  padding: .5rem 1rem;
}

input:focus {
  outline: 1px solid black;
}

.profile.side {
  display: grid;
  grid-template-columns: var(--icon-size) var(--profile-size) max-content;
  gap: 1em;
  font-size: calc(var(--base-font-size) * 1.2);
  justify-content: right;
  align-items: center;
}

.profile.main {
  display: grid;
  grid-template: 1fr 1fr / calc(var(--profile-size) * 1.5) auto;
  gap: .2em 1em;
}

.profile.main img {
  grid-row: 1 / -1;
  align-self: center;
}

.profile.main span:first-of-type {
  font-size: calc(var(--base-font-size) * .9);
  align-self: end;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  place-items: center;
}

button {
  background-color: var(--background-blue);
  color: white;
  border: none;
  font-size: calc(var(--base-font-size) * .9);
  font-weight: bold;
  width: 6em;
  padding: .5em 0;
  border-radius: 2rem;
}

button:hover {
  background-color: #0882b3;
}

button:active {
  box-shadow: inset 0 0 5px black;
}

 main {
  background-color: var(--background-gray);
 }